h1 {
    color: rgba(0, 195, 255, 0.788);
    font-style: normal;
    text-align: center;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0F172A;
  --accent: #2563EB;
  --background: #F8FAFC;
  --text: #1E293B;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--background);
  color: var(--text);
  padding-top: 80px; 
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  z-index: 1000;
}

nav a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 600;
  transition: 0.3s;
}

nav a:hover {
  color: var(--accent);
}


h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
  color: var(--primary);
}


.section {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}


.section img {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  margin-top: 20px;
}
